[submodule "rustlings"]
	path = rustlings
	url = git@github.com:yuanzhixiang1996/rustlings.git
[submodule "exams"]
	path = exams
	url = git@github.com:yuanzhixiang1996/exams.git
[submodule "learning-cxx"]
	path = learning-cxx
	url = git@github.com:yuanzhixiang1996/learning-cxx.git
[submodule "learning-lm-rs"]
	path = learning-lm-rs
	url = git@github.com:yuanzhixiang1996/learning-lm-rs.git
